/*
 * Common parameters for Neoway M660A GSM modems
 */

/ {
    fragment@110 {
        target-path = "/wirenboard/gsm";

        __overlay__ {
            model = "m660a";
            modes = "gprs";
        };
    };
};
