/*
 * Common parameters for SIM5300e GSM modems
 */

/ {
    fragment@110 {
        target-path = "/wirenboard";

        __overlay__ {
            gsm {
                model = "sim5300e";
                type = "3g", "edge", "gprs";
            };
        };
    };
};
