/*
 * Common parameters for Neoway M660A GSM modems
 */

/ {
    fragment@110 {
        target-path = "/wirenboard";

        __overlay__ {
            gsm {
                model = "m660a";
                type = "gprs";
            };
        };
    };
};
