/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target-path = "/wirenboard";

        __overlay__ {
            temperature {
                grade = "commercial";
                min = "0";
                max = "90";
            };
        };
    };
};
